.btn-to-up {
    color: white;
    background-color: rgb(179, 21, 113);
    cursor: pointer;
    position: fixed;
    bottom: 10px;
    right: 10px;
    visibility: visible;
}

.no-results {
    font-size: 48px;
    color: azure;
    margin: -400px 500px;
}