<mat-grid-list cols="4" rowHeight="450px" fxLayout="row wrap" fxLayout.lt-sm="column" infinite-scroll (scrolled)="onScrollDown()">
    <mat-grid-tile *ngFor="let character of characters" fxFlex="33.33%" fxFlex.lt-md="50%" fxFlex.lt-sm="100%">
        <mat-card>
       
            <a [routerLink]="['/character-details', character.id]">
                <img 
                [src]="character.image" 
                [alt]="character.name"
                />
            </a>
         
            <mat-card-content>
                
                <a [routerLink]="['/character-details', character.id]">
                    <h2>{{ character.name | slice: 0:15 }}</h2>
                </a>
                <h4>{{ character.gender }}</h4>
                <small>{{ character.created | date }}</small>
                 
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>

<mat-grid-list class="no-results" cols="1" *ngIf="characters.length <= 0">
    <p>No Results ...</p>
</mat-grid-list>

<button 
    *ngIf="showGoUpButton"
    (click)="onScrollTop()"
    mat-icon-button color="warn" 
    class="btn-to-up">
    <mat-icon>
        arrow_upward
    </mat-icon>
</button>
